<div id="header">
    <div class="container">
        <div id="welcomeLine" class="row">
            <div class="span6">Welcome!<strong>
                    <%= userid %>
                </strong></div>
            <div class="span6">
            </div>
        </div>
        <!-- Navbar ================================================== -->
        <div id="logoArea" class="navbar">
            <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-inner">
                <a class="brand" href="/"><img src="themes/images/logo.png" alt="Amazone" /></a>
                <input id="searchInput" onkeyup="handleSearchText()" placeholder="Seach..." type="text"
                    style="padding-right: 26rem;margin-bottom: -19px;" />
                <span class="badge badge-info" id="span_result"></span>
                <ul id="topMenu" class="nav pull-right">
                    <% if(userid!=null){ %>
                        <li class=""><a href="/order/orderManage">My order</a></li>
                        <li class=""><a href="/cart">Cart</a></li>
                        <% }; %>
                            <li class="">
                                <% if(userid==null){ %>
                                    <a href="/account/login" role="button" data-toggle="modal"
                                        style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a>
                                    <% } %>
                                        <% if(userid !=null){ %>
                                            <a href="/account/logout" role="button" data-toggle="modal"
                                                style="padding-right:0"><span
                                                    class="btn btn-large btn-info">Logout</span></a>
                                            <% } %>

                            </li>
                </ul>
            </div>
            <div id="ul_search" style="
            background-color: whitesmoke;
            margin-left: 16rem;
            width: 39rem;max-height: 9rem;overflow: scroll;color: black;
font-size: inherit;
font-weight: bold;">

            </div>
        </div>
    </div>
</div>
<script src="/javascript/handleSearchText.js"></script>